.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('./bg7.jpg');
}

.register-form {
  box-shadow: 5px 5px 30px black;
  padding: 30px;
  background: url('./rm222batch3-mind-04.jpg');
  height: 50vh;
  width: 29vw;


}

.login-btn {
  padding: 0.2rem 1rem 0.2rem 1rem;
  width: auto;
  font-size: 1.3rem;
  background-color: black;
  color: white;
  outline: none;
  border: none;

  border-radius: 3px;
}

.click-register {
  background-color: blue;
  color: white;
  padding: 0.2rem 1rem 0.2rem 1rem;
  font-size: 1rem;
  border-radius: 30px;
  width: max-content;
  margin-top: 4rem;
  margin-left: 10rem;

}

.login-register-wrap {
  display: flex;
  flex-direction: column;
}

.register-label {
  font-size: 1.3rem;
  color: white;
  background-color: rgb(5, 6, 5);
  outline: none;
  border: none;

}