/* Styling for the container div */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;

  font-family: Arial, sans-serif;
}

/* Styling for labels */
label {
  font-weight: bold;
  margin-bottom: 8px;
}

/* Styling for select elements */
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Styling for the main button */




.label-select1{
    display: flex;
}
.label-select2{
    display: flex;
}
.location-container{
    margin-top: 5rem;
    display: inline-block;
    border: 2px solid red;
    
    
}
.location-form-container{
    display: flex important;
}
